{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="liangwq">
    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href={% static 'bootstrap/css/bootstrap.css' %} rel="stylesheet">
    {% block css %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Open Door</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block nav_manu %}
                <li><a href="/base">base</a></li>
            {% endblock %}
          </ul>
          <ul class="nav nav-pills navbar-right">
            {% block nav_right %}
                <li><a href="/sign_in">SIGN IN</a></li>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!--路径导航、按钮组、消息栏 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% block breadcrumb %}
                    <ol class="breadcrumb">
                        <li><a href="">Save</a></li>
                    </ol>
                {% endblock %}
            </div>
            <div class="col-md-6">
                {% block btn_group %}
                    <p>btn_group</p>
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% block message %}
                    <P>message</P>
                {% endblock %}
            </div>
        </div>
    </div>

    <!--主内容-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                {% block main %}
                    <p>main</p>
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% block complementary %}
                    <p>complementary</p>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src={% static 'bootstrap/js/bootstrap.js' %}></script>
</body>
</html>